:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-decoration: none;
  background: #000;
}

ul {
  list-style: none;
}

h1,
p {
  color: #fff;
  text-align: center;
  text-align: left;
}
h1 {
  font-size: 2.8rem;
}

.content h1 {
  text-align: center;
}

a {
  color: #fff;
  text-decoration: no-ne;
}

.btn {
  background: #e50914;
  color: #f4f4f4;
}
p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.top_most {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  position: relative;
  background: url("../assets/background.jpg") no-repeat center center/cover;
}

.top_most::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 100px 100px 250px #000000, inset -100px -100px 250px #000000;
}

.title {
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title img {
  height: 2.6rem;
  width: 8rem;
  margin-left: 5%;
}

.left {
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title .language {
  border: 0.1vh #f4f4f4 solid;
  margin-right: 2rem;
  background-color: #000;
  height: 2.2rem;
  width: 5.4rem;
}

.title .language img {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #f4f4f4;
}

.title .language select,
select option {
  font-size: 0.8rem;
  color: #f4f4f4;
  height: 2rem;
  border: 0px;
  outline: 0px;
}

.sign_in {
  background-color: #e50914;
  height: 2.2rem;
  width: 5.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 3rem;
  flex-wrap: wrap;
}

.sign_in a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f4f4;
  justify-content: space-evenly;
  height: 55vh;
}

.content p {
  font-size: 1.5rem;
}

.content span {
  font-size: 1.1rem;
  text-align: center;
}

.email {
  height: 3.5rem;
  display: flex;
}

.email input {
  height: 3.5rem;
  width: 28rem;
  padding-left: 0.4rem;
  outline: none;
}

.email div {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email div a {
  font-size: 1.4rem;
  text-decoration: none;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_1,
.card_2,
.card_3,
.card_4 {
  border-top: 1.4vh rgb(44, 43, 43) solid;
  height: 28rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card_1 div p,
.card_2 div p,
.card_3 div p,
.card_4 div p {
  font-size: 1.5rem;
  text-align: left;
}

.card_1 div img,
.card_3 div img {
  height: 25rem;
  width: 34rem;
}

.card_1 div video,
.card_3 div video {
  position: absolute;
  z-index: -1;
}

.card_1 div video {
  width: 26rem;
  margin-left: -30rem;
  margin-top: 4.3rem;
}

.card_3 div video {
  width: 22rem;
  margin-left: -28rem;
  margin-top: 2rem;
}

.card_2 img,
.card_4 img {
  padding-bottom: 2rem;
  height: 27rem;
  width: 35rem;
}

.question,
footer {
  border-top: 1.4vh rgb(44, 43, 43) solid;
  width: 100%;
  height: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  margin: 4rem;
}

.faq:hover {
  cursor: pointer;
}

.question_1,
.answer_1 {
  background-color: rgb(44, 43, 43);
  color: #f4f4f4;
  width: 50rem;
}

.question_1 {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.question_1 img {
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 2rem;
}

.cancel {
  transform: rotate(45deg);
}

.answer_1 {
  margin-top: -0.4rem;
  display: flex;
  align-items: center;
  display: none;
}

.question_1:active .answer_1 {
  display: block;
  transition: all 0.5s;
}

.question_1 p,
.answer_1 p {
  font-size: 1.6rem;
  margin-left: 2rem;
}

.answer_1 p {
  padding: 2rem 1rem 2rem 0.3rem;
}

.bottom p {
  font-size: 1.2rem;
  margin: 4rem 0rem 1.2rem 0rem;
  text-align: center;
}

.bottom .email {
  margin-bottom: 4rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer p {
  color: #757575;
  font-size: 0.8rem;
}

.head {
  margin-top: 5rem;
  margin-left: 7.8rem;
  font-size: 1rem;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column div {
  margin: 0.5rem 1rem 1rem 7rem;
}

.column div p {
  margin: 1rem;
}

.column_4 {
  padding-bottom: 2.2rem;
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 0.1vh #757575 solid;
  margin-left: 8rem;
  width: 9rem;
}

select,
select option {
  font-size: 1rem;
  color: #757575;
  background-color: #000;
  height: 2.8rem;
  border: 0px;
  outline: 0px;
}

.language img {
  background-color: #757575;
  width: 1.5rem;
  height: 1.5rem;
}

.para {
  margin: 1.5rem 0rem 2rem 8rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
}

@media (max-width: 1070px) {
  .head,
  .language,
  .para {
    margin-left: 4.8rem;
  }

  .column div {
    margin: 0.5rem 1rem 1rem 4rem;
  }
}

@media (max-width: 900px) {
  .title img {
    width: 6.5rem;
    height: 1.5rem;
  }

  .sign_in {
    height: 2rem;
    margin-bottom: 26px;
  }

  .sign_in a {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .top_most::after {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 100px 100px 200px #000000,
      inset -100px -100px 200px #000000;
  }

  .email {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .email input {
    width: 29rem;
    height: 4.3rem;
  }
  .email div {
    height: 2.5rem;
    margin-top: 2vh;
    width: 9rem;
  }

  .email div a {
    font-size: 1.2rem;
  }

  .card_1,
  .card_2,
  .card_3,
  .card_4 {
    flex-direction: column;
    height: 37rem;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .card_1 div p,
  .card_2 div p,
  .card_3 div p,
  .card_4 div p {
    font-size: 1.2rem;
    text-align: center;
  }

  .question_1,
  .answer_1 {
    width: 40rem;
  }

  .head {
    margin-top: 3rem;
    margin-left: 3.4rem;
  }

  .language,
  .para {
    margin: 0.5rem 0rem 2rem 3.7rem;
  }

  .column div {
    margin: 0.5rem 1rem 1rem 3rem;
  }

  .column div p {
    margin: 0.5rem;
  }
}

@media (max-width: 740px) {
  .head,
  .language,
  .para {
    margin-left: 1.3rem;
  }

  .column div {
    margin: 0.5rem 1rem 1rem 1rem;
  }
}

@media (max-width: 650px) {
  .top_most {
    height: 63vh;
  }
  .content {
    height: 40vh;
  }
  .content h1 {
    font-size: 1.7rem;
  }

  .content p {
    font-size: 1.1rem;
  }

  .content span {
    font-size: 1.1rem;
    text-align: center;
  }

  .email input {
    height: 3.4rem;
    width: 20rem;
  }

  .card_1,
  .card_2,
  .card_3,
  .card_4 {
    flex-direction: column;
    height: 37rem;
  }

  .card_1 div h1,
  .card_2 div h1,
  .card_3 div h1,
  .card_4 div h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .card_1 div p,
  .card_2 div p,
  .card_3 div p,
  .card_4 div p {
    font-size: 1rem;
    text-align: center;
  }

  .card_1 div img,
  .card_3 div img {
    height: 18rem;
    width: 23rem;
  }

  .card_1 div video,
  .card_3 div video {
    position: absolute;
    z-index: -1;
  }

  .card_1 div video {
    width: 17em;
    margin-left: -20rem;
    margin-top: 3.88rem;
  }

  .card_3 div video {
    width: 15rem;
    margin-left: -19rem;
    margin-top: 1rem;
  }

  .card_2 img,
  .card_4 img {
    padding-bottom: 2rem;
    height: 19rem;
    width: 22rem;
  }

  .question_1,
  .answer_1 {
    width: 30rem;
  }

  .header h1 {
    margin: 4rem;
    font-size: 2.3rem;
  }
}

@media (max-width: 550px) {
  .question_1,
  .answer_1 {
    width: 25rem;
  }

  .header h1 {
    margin: 2rem;
    font-size: 1.7rem;
  }

  .question_1 p,
  .answer_1 p {
    font-size: 1.2rem;
  }

  .bottom p {
    margin-top: 3rem;
    font-size: 0.8rem;
  }

  .head {
    margin-top: 2rem;
    margin-left: 0.4rem;
  }

  .column div {
    margin: 0.5rem 1rem 1rem 0.5rem;
  }

  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .question,
  footer {
    border-top: 1vh rgb(44, 43, 43) solid;
  }

  .sign_in {
    margin-right: 1rem;
    width: 4rem;
    height: 1.6rem;
  }

  .sign_in a {
    font-size: 1rem;
    font-weight: 400;
  }

  .title .language {
    margin-right: 0.7rem;
    height: 1.6rem;
  }

  .title .language select,
  select option {
    height: 1rem;
  }
}

@media (max-width: 465px) {
  .header h1 {
    margin: 2rem;
    font-size: 1.4rem;
  }

  .column div {
    margin: 0.5rem 0rem 1rem 0rem;
  }

  .head,
  .language,
  .para {
    margin-left: 0.6rem;
  }
}
